.usernamediv {
    font-family: 'Press Start 2P', cursive;
}

.inputname {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    border-style: none;
}

.sbmtbtn {
    display: block;
        margin: 0 auto;
        border: none;
        background: #00b800;
        padding: 10px 20px;
        text-transform: uppercase;
            font-family: 'Press Start 2P', cursive;
}
.inpt{
    text-align: center;
    text-decoration: none;
}