.usernamediv {
    font-family: 'Press Start 2P', cursive;
}

.inputname,
.roomid {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    border-style: none;
}
.createbtn, .s

.form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.sbmtbtn {
    display: block;
    margin: 0 auto;
    border: none;
    background: #00b800;
    padding: 10px 20px;
    text-transform: uppercase;
    font-family: 'Press Start 2P', cursive;
}

.inpt,
.rinpt {
    text-align: center;
    text-decoration: none;
    width: 10rem;
    height: 1.5rem;
    border-color: #00b800;
    border-style:solid;
}

.inpt:focus,
.rinpt:focus {
    outline: 0
}

#formelement {
    padding: 1rem;
}
.god{
    width: 30rem;
    color: black;
    background-color:aliceblue;
    padding: 0;
    margin: 0;
}