html,
body {
    background: black;
    color: #00b800;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}

.usrNameAsk {
    color: red;
}

.countdown {
    z-index: 20;
    position: fixed;
    top: 45%;
    /* left: 50%; */
    /* transform: translate(-50%, -50%);  */
    font-size: 3rem;
    display: none;
    height: 100%;
    width: 100%;
}

.wordsdivv {
    /* color: #00b800; */
    color: black;
    background-color: white;
    padding: 2rem;
    margin: 1rem;
    height: 3.5rem;
}

body {
    font-weight: 400;
}

button {
    font-family: 'Press Start 2P', cursive;
    display: block;
    margin: 0 auto;
    border: none;
    background: #00b800;
    padding: 10px 20px;
    text-transform: uppercase;
}

h1 {
    font-size: 20px;
}

textarea {
    font-family: 'Press Start 2P', cursive;
    border: 3px solid black;
    width: 90%;
    margin: 0 auto;
    outline: none;
    height: 200px;
    background: #00b800;
    padding: 10px;
}

button:disabled {
    background-color: aliceblue;
}

textarea:disabled {
    background-color: aliceblue;
}

.green {
    color: green;
}

.red {
    color: red;
}